<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43963046767-bkqnqki8giamdfut41bdtg736cc9qs8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43963046767-bkqnqki8giamdfut41bdtg736cc9qs8c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43963046767-cb9om1s4gcncjirv3nbnls9s4spda7cb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0bgAEemGC3oUrDfp8FB8XQFfcuu_Hsng</string>
	<key>GCM_SENDER_ID</key>
	<string>43963046767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dandylight.mobile</string>
	<key>PROJECT_ID</key>
	<string>clientsafe-21962</string>
	<key>STORAGE_BUCKET</key>
	<string>clientsafe-21962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43963046767:ios:a7f7c7e564a6577585e69a</string>
	<key>DATABASE_URL</key>
	<string>https://clientsafe-21962.firebaseio.com</string>
</dict>
</plist>