<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DandyLight</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music!</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar permission will make it easier to schedule jobs. Your phone calendar will be synced with the DandyLight calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera will be used to take a picture of this location.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts will be used for loading device contacts to DandyLight</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location will be used for sunset and weather feature of the app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location will be used for sunset and weather feature of the app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location will be used for sunset and weather feature of the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>motion</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library will be uses to select an image for your poses or a location.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This permission will allow your custom reminders to been shown.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>speech</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>media</string>
</dict>
</plist>
